<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>git 원본</title>
</head>
<body>
  git 로그인 <br>
  <input type="text"> <br>
  <input type="password"> <br>
  <button>로그인</button>
</body>
</html>